* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  background: linear-gradient(90deg, #048825 1.18%, #d2c804 100%);
  color: whitesmoke;
  padding: 10px;
}
.logo {
  height: 100%;
  margin-right: 2%;
}

.header h2 {
  font-size: 1.5rem;
  margin-right: auto;
  color: rgb(255, 247, 0);
}
.header h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 2%;
}
/* css copied from scrimba server for markdown main app  */
* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar-note {
  /* display: flex; */
}

.sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar-header > h3 {
  font-size: 1.6rem;
  background-color: #a0b722;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.new-note {
  cursor: pointer;
  background-color: #a0b722;
  border: none;
  color: white;
  border-radius: 3px;
  /* height: 40px; */
  width: 50px;
  font-size: 1rem;
  padding: 10px 5px;
}

.delete-btn:active {
  background-color: red;
}
.mde-tabs button {
  cursor: pointer;
  background-color: #199270 !important;
  border: none;
  color: white;
  border-radius: 3px;
  /* height: 40px; */
  font-size: 1rem;
  padding: 0.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2px 5px;
}

.first-note {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

.editor {
  width: 80%;
  height: 100vh;
}

.title {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.title:hover .title-delete {
  display: block;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #4a4e74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-note {
  background-color: #1221a8;
  background: linear-gradient(90deg, #11742a 1.18%, #494221 100%);
}

.selected-note .text-snippet {
  color: white;
  font-weight: 700;
}

.gutter {
  background-color: rgb(72, 136, 20, 0.5);

  background-repeat: no-repeat;
  background-position: 50%;
  width: 15px;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  body {
    min-width: 350px;
  }
  .sidebar-header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .sidebar-header > h3 {
    margin: 5px 0;
    font-size: 1rem;
  }
  .new-note {
    padding: 5px;
    margin-bottom: 5px;
  }
}
